# distributions created with distutils
/dist/
/build/

# built documentation
*_build*
docs/built

# too large folders

# distribution or temporary files
*.egg-info
*~
*.pyc
*.tar
*.gz

# ommit data files
*.sdf
*.png

# local files
.idea
venv

#
examples