# distributions created with distutils
/dist/
/build/

# built documentation
*_build*

# too large folders

# distribution or temporary files
*.egg-info
*~
*.pyc
*.tar
*.gz

# ommit data files
*.sdf
*.png

